<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.epp.packaging.core.PackagingApplication">
         </run>
      </application>
   </extension>
   <extension
         id="EPP"
         point="org.eclipse.core.runtime.products">
      <product
            application="application"
            name="EPP Packaging">
         <property
               name="appName"
               value="EPP Packaging">
         </property>
      </product>
   </extension>

</plugin>
